<header class="c-header c-header-light c-header-fixed">
  <div class="c-sidebar-brand d-md-down-none">
    <div class="logo">Yoekisoft</div>
    </div>
  <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
    
    </ol>
  <ul class="c-header-nav mfs-auto">
  <!-- <li class="c-header-nav-item px-3 c-d-legacy-none">
  <button class="c-class-toggler c-header-nav-btn" type="button" id="header-tooltip" data-target="body" data-class="c-dark-theme" data-toggle="c-tooltip" data-placement="bottom" title="Toggle Light/Dark Mode">
  <span class="c-d-dark-none">
    <i class="fa fa-moon-o"></i>
  </span>
  <span class="c-d-default-none">
    <i class="fa fa-sun"></i>
  </span>
  </button>
  </li> -->
  </ul>
  <ul class="c-header-nav">
  <li class="c-header-nav-item dropdown d-md-down-none mx-2"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell-o"></i><span class="badge badge-pill badge-danger">5</span></a>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0">
  <div class="dropdown-header bg-light"><strong>You have 5 notifications</strong></div>
  <a class="dropdown-item" href="#">
  <i class="fa fa-user-plus mr-1 text-success" ></i> New user registered</a>
  <a class="dropdown-item" href="#">
    <i class="fa fa-user-times mr-1 text-danger" ></i> User deleted</a><a class="dropdown-item" href="#">
    <i class="fa fa-signal mr-1 text-info" ></i> Sales report is ready</a><a class="dropdown-item" href="#">
   <i class="fa fa-shopping-cart mr-1 text-primary"></i> New client</a><a class="dropdown-item" href="#">
    <i class="fa fa-tachometer mr-1 text-warning"></i>  Server overloaded</a>
 
  </div>
  </li>
  
  <li class="c-header-nav-item dropdown d-md-down-none mx-2"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-envelope-open-o"></i><span class="badge badge-pill badge-info">7</span></a>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0">
  <div class="dropdown-header bg-light"><strong>You have 4 messages</strong></div><a class="dropdown-item" href="#">
  <div class="message">
  <div class="py-3 mfe-3 float-left">
   <div class="c-avatar"><img class="c-avatar-img" src="assets/images/avatars/7.jpg" alt="user@email.com"><span class="c-avatar-status bg-success"></span></div>
  </div>
  <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">Just now</small></div>
  <div class="text-truncate font-weight-bold"><span class="text-danger">!</span> Important message</div>
  <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
  </div>
  </a><a class="dropdown-item" href="#">
  <div class="message">
  <div class="py-3 mfe-3 float-left">
  <div class="c-avatar"><img class="c-avatar-img" src="assets/images/avatars/6.jpg" alt="user@email.com"><span class="c-avatar-status bg-warning"></span></div>
  </div>
  <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">5 minutes ago</small></div>
  <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
  <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
  </div>
  </a><a class="dropdown-item" href="#">
  <div class="message">
  <div class="py-3 mfe-3 float-left">
  <div class="c-avatar"><img class="c-avatar-img" src="assets/images/avatars/5.jpg" alt="user@email.com"><span class="c-avatar-status bg-danger"></span></div>
  </div>
  <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">1:52 PM</small></div>
  <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
  <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
  </div>
  </a><a class="dropdown-item" href="#">
  <div class="message">
  <div class="py-3 mfe-3 float-left">
  <div class="c-avatar"><img class="c-avatar-img" src="assets/images/avatars/4.jpg" alt="user@email.com"><span class="c-avatar-status bg-info"></span></div>
  </div>
  <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">4:03 PM</small></div>
  <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
  <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
  </div>
  </a><a class="dropdown-item text-center border-top" href="#"><strong>View all messages</strong></a>
  </div>
  </li>
  <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  <div class="c-avatar"><img class="c-avatar-img" src="assets/images/avatars/3.jpg" alt="user@email.com"></div>
  </a>
  <div class="dropdown-menu dropdown-menu-right pt-0">
    <div class="dropdown-header userName py-2"><strong>User1@yoekisoft.com</strong></div>
  
  <div class="dropdown-header bg-light py-2"><strong>Settings</strong></div>
  <a class="dropdown-item" href="#">
    <i class="fa fa-user mr-1"></i>  Profile</a>
    <a class="dropdown-item" href="#">
  <i class="fa fa-cog mr-1"></i> Settings</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">
    <i class="fa fa-sign-out mr-1" aria-hidden="true"></i> Logout</a>
  </div>
  </li>
  
  </ul>
  

  </header>