
.c-sidebar{margin-top: 56px;}
#sidebar{
animation-name: example;
animation-duration: 2s;
}
@keyframes example {
    0%   { left:-256px; top:0px;}
    50% { left:0px; top:0px;}
    100% { left:0px; top:0px;}
  }